:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f0f0f0;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}
button{
  text-transform: capitalize;
  font-size: 1.4rem;
  background: transparent;
  border: 0.05rem solid var(--lightBlue);
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  margin: 0.2rem 0.5rem 0.2rem 0;
  transition: All 0.5s ease-in-out;
}
  button:hover {
    background-color: var(--lightBlue);
    color: var(--mainBlue);
  }
  button:focus {
    outline: none;
  }

  .mainYellow {
    color: var(--mainYellow);
    border-color: var(--mainYellow);
  }

  .lightBlue {
   color: var(--lightBlue);
   border-color: var(--mainYellow);
  }