:root {
    --mainWhite: #f0f0f0;
  }
.modalContainer {
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
  #modal {
    background: var(--mainWhite);
  }