:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f0f0f0;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.logo-wrapper {
  height: 80px;
  width: 80px;
  margin-right: 1rem;
}

.logo-wrapper img{
  width: 100%;
  max-width: 100%;
}

.search-wrapper {
  width: 52.5%;
}

#search-form {
  height: 42px;
  border: 1px solid gray;
  border-right: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 15px 16px;
  width: 92%;
}

.search-label {
  display: flex;
}

#search-button {
  color: #333;
  font-size: 1rem;
  border: 1px solid gray;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
  width: 50px;
  min-width: 50px;
  height: 42px;
}

.title-text {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-container {
  margin-right: 20px;
}
.cart-wrapper{
  position: relative;
  cursor: pointer;
}

.cart-icon {
  
  font-size: 1.5rem;
  color: var(--mainYellow) !important;
  cursor: pointer;
}
.total-items{
  position: absolute;
  top:-8px;
  right: -16px;
  display: grid;
  place-items: center;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  color: var(--mainWhite);
  background: var(--mainYellow);
  font-size: 1rem;
}
